@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&family=Permanent+Marker&family=Ubuntu:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
//variable
$biru-muda: #02cffc;
$biru-tua: #008cd1;
$biru-tua2: #033243;



//mixin
@import '../../mixin/mixin.scss';





html,
body {
    width: 100%;
    height: 100%;
}

body {

    margin: 0;
    padding: 0;
    display: flex;

    &:before {
        content: "";
        position: fixed;
        z-index: -1;
        background-size: cover;
        background-position: center top;
        display: block;
        background-image: url(../img/bg-hero.jpg);
        filter: blur(10px);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

.container {
    margin: auto;
    @include bShadow-3(3px);
    width: 97%;
    height: 97%;
    background-image: url(../img/bg-hero.jpg);
    position: relative;
}

//navigation
.nav-heading {
    text-align: right;
    padding: 1.1rem 5rem;

    ul {
        li {
            @include clearLi();
            padding: 1.2rem;

            &:nth-child(1) a {
                border-bottom: 2px solid $biru-tua2;

                &:hover {
                    border-bottom: 2px solid white;
                }
            }

            a {
                color: white;
                text-decoration: none;
                font-family: 'Nunito', sans-serif;
                font-weight: 900;
                padding-bottom: .2rem;
                transition: .5s ease;

                &:hover {
                    color: darken($color: white, $amount: 25%);

                }
            }

            #partners {
                color: $biru-tua;
                background-color: white;
                padding: .3rem 1rem;
                border-radius: .7rem;
                border: 1px solid white;
                transition: .3s ease;

                &:hover {
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    box-sizing: border-box;
                }
            }
        }
    }
}



//bg-hero
.container-heading {

    .bigtitle {
        @include bShadow-2(12px);
        padding: 0 2rem;
        width: fit-content;
        height: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: 48px auto 0;

        h1 {
            font-family: 'Permanent Marker', cursive;
            text-align: center;
            font-weight: 700;
            font-size: 4.4rem;
            color: lightskyblue;
            text-transform: uppercase;
            line-height: 2rem;
        }
    }
}

//search-box


.search-box input {
    background-color: #ddffef;
}

.search-box {
    border: solid 5px black;
    display: inline-block;
    border-radius: 50px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 23rem;



    input[type="text"] {
        font-family: Raleway, sans-serif;
        font-size: 20px;
        font-weight: bold;
        width: 50px;
        height: 50px;
        padding: 5px 40px 5px 10px;
        border: none;
        box-sizing: border-box;
        border-radius: 50px;
        transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;

        &:focus {
            outline: none;
        }

        &:focus,
        &:not(:placeholder-shown) {
            width: 300px;
            transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);

            +span {
                bottom: 13px;
                right: 10px;
                transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
            }

            +span:after {
                top: 0;
                right: 10px;
                opacity: 1;
                transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
            }
        }
    }

    span {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -13px;
        right: -15px;
        transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;

        &:before,
        &:after {
            content: '';
            height: 25px;
            border-left: solid 5px black;
            position: absolute;
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(45deg);
            opacity: 0;
            top: -20px;
            right: -10px;
            transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
        }
    }
}

//image gallery
.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 31rem;

    .colomn {
        background-color: white;
        width: 12rem;
        height: 117px;
        @include bShadow-1(8px);

        img {
            width: 12rem;
            cursor: pointer;
            @include bShadow-1(8px);
            transition: .5s;

            &:hover {
                opacity: .7;
            }
        }
    }
}


//light box
.modal {
    opacity: 0;
    animation: fade .3s forwards;
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 7;
    padding-top: 3rem;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */

    .close {
        position: absolute;
        top: 3%;
        right: 8%;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        opacity: 0;
        animation: fade .5s .7s forwards;
        transition: .7s;

        &:hover {
            color: darken($color: #f1f1f1, $amount: 30%);
            cursor: pointer;
        }
    }

    .modal-content {
        transform: scale(0);
        z-index: 7777;
        margin: auto;
        display: block;
        width: 70%;
        max-height: 70%;
        border-radius: 7px;
        animation: zoomCool .5s .1s forwards;
    }

    #caption {
        opacity: 0;
        margin: auto;
        display: block;
        width: 75%;
        max-width: 75%;
        text-align: center;
        color: #ccc;
        padding: 20px 0;
        height: 150px;
        animation: fade .5s .4s forwards;
    }

    // next and prev 
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -5rem;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: .8rem;
        user-select: none;
        opacity: 0;
        animation: fade .2s .6s forwards;

        &:hover {
            background-color: rgba($color: #000000, $alpha: .8);
        }
    }

    .prev {
        margin-left: 7rem;
    }

    .next {
        margin-right: 7rem;
        right: 0;
    }
}







// animation
@keyframes zoomCool {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.07);
    }

    100% {
        transform: scale(1);
    }
}



@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}